.parentcolor {
  background-color: rgb(26, 188, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 0;
  color: white;
  margin-top: 50px;
}
.parentpage h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.divs {
  display: flex;
  align-items: center;
}
.div1,
.div2 {
  width: 70px;
  height: 4px;
  background-color: white;
  margin: 0 10px;
}
.pp {
  width: 70%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-top: 15px;
  padding-right: 15px;
}
.pp p {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .pp {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
